.content_terminal {
  width: 50vw;
  height: 60vh;
  background: #1b1255;
  border-radius: 20px;
  box-shadow: 0px 0px 50px 20px #1c1a1a4e;
}

.content_terminal p {
  color: #8477dd;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
  margin-top: 10px;
}

.content_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  position: relative;
}

.content_header div {

  position: absolute;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  left: 15px;
  top: calc(100% / 2.3);
  cursor: pointer;
}

.content_header div:nth-child(1) {
  background-color: #e54e7f;
  left: 33px;

}

.content_header div:nth-child(2) {
  left: 50px;
  background-color: #f3b146;

}

.content_header div:nth-child(3) {
  background-color: #28e18f;
}

.divider {
  position: relative;
  top: 6px;
  border: none;
  height: 1px;
  background: #8477dd;
  opacity: .4;
}

.content_body {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 80%;
  height: 100%;
  margin: 20px;
}

.content_body p>span {
  color: #EA3BA7;
  margin-right: 10px;
}

.content_body p,
.content_body a {

  color: #FFF;
  font-size: clamp(.4em, 0.5em + 0.8vw, 16px);
}

.content_my_profile {
  color: #e4edea !important;
  opacity: .8;
}

.content_footer {
  margin-top: 16px;
}